{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Banner -->
<style>
	#banner {
	  background-image: url("{% static 'images/20aa591e-421e-4c0c-9ef4-eecffc5924af.jpeg' %}");
	}
	
    @media screen and (max-width: 736px) {
		#banner {
			background-image: url({{mobile_pic.first_section_pic.url}});
	  }
	}

	</style>
<section id="banner">
 <!-- style="background-image: url('images/mohamed2.jpg')"> -->
    <!-- url('images/rsz_1mohamed2.jpg')" -->
    <div class="content">
        <header>
            <!-- <img src="{% static 'images/mohamedaboelgheit.png' %}" alt="" /> -->
            <!-- <h2>محمد أبوالغيط</h2> -->
            <!-- <p>طبيب وكاتب مصري متخصص في اشياء واشياء اخرى</p> -->
        </header>
        <!-- <span class="image" style=" position: fixed; bottom: 0;right: 0;"><img src="{% static 'images/mohamedaboelgheit.png' %}" alt="" /></span> -->
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
</section>

<!-- One -->
<section id="one"  dir="rtl" lang="ar">
    <!-- <span class="image fit main"><img src="{% static 'images/journals.jpg' %}" alt="" /></span> -->
    <div class="content">
        <div class="container" style="padding: 1.5em 2em 0 2em !important;">
            <div class="row">
                <h2 class="col-12">
                    مقالات مختارة
                </h2>
            </br>
                    {% for article in articles %}
                        <div class="col-6 col-12-medium">
                                <a class="box alt image fit" href="{% url 'article_detail' article.id %}" class="image featured"><img width="200" height="400" src="{{ article.image.url }}" alt="" /></a>
                                <h3><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h3>
                                <p>{{ article.get_snippet }}..<a href="{% url 'article_detail' article.id %}">اقرأ المزيد</a></p>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
<section id="two" class="spotlight style2 right" dir="rtl">
    <span class="image fit main"><img src="{% static 'images/artworks.png' %}" alt="" /></span>
    <div class="content">
        <header>
            <h2 style="color:white">بودكاست 11</h2>
            <p>
                ‎نأتيكم بالمناقشات الحرة، والأفكار الطازجة. نحلل الواقع ونسعى للتنبؤ بآمال المستقبل. نحاول إفادتكم وتسليتكم.
                ‎يقدمه الصحفي محمد أبوالغيط</p>
        </header>
        <p style="color:white">في الموسم الأول من "بودكاست ١١" نحيي الذكرى العاشرة للثورة المصرية والربيع العربي، ونطرح الأسئلة التي تدور في الأذهان. ماذا حدث؟ ولماذا حدث؟ وماذا يمكن أن يحدث؟ في سلسلة حوارات يقدمها الصحفي محمد أبوالغيط مع:
            (بالترتيب الأبجدي) إلهام عيداروس – ناشطة بمجال حقوق المرأة والمواطنة، ووكيلة مؤسسي حزب العيش والحرية آية حجازي – ناشطة نسوية، ومديرة مؤسسة بلادي جزيرة للإنسانية بلال فضل – إعلامي وكاتب وسينارست خالد فهمي – أستاذ التاريخ الحديث بجامعة كامبريدج شادي لويس – باحث وروائي ومختص بعلم النفس            </p>
            <ul class="actions">
                <li><a href="{% url 'podcast_list' %}" class="button">اقرأ المزيد</a></li>
            </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
</section>
			<!-- Three -->
            <section id="three" class="spotlight style3 left" dir="rtl">
                <span class="image fit main"><img src="{% static 'images/VideoCover_2.jpg' %}" alt="" /></span>
                <div class="content" style="color:white">
                    <header>
                        <h2>المستخدم الأخير</h2>
                        <p> تحقيق متلفز يتناول احداث حرب اليمن</p>
                    </header>
                    <p>في الثانية من صباح يوم 26 مارس 2015 تحول ليل العاصمة اليمنية صنعاء إلى نهار ليعلن بداية عملية "عاصفة الحزم"، ومعها بدأت الانتقادات الدولية لسقوط مدنيين بسبب القصف الجوي الذي يستخدم طائرات وقذائف تصدرها دولٌ غربية.
            
                        إلا أن جانباً آخر من الصورة لم ينل نفس القدر من الاهتمام، وهو منح كميات هائلة من الأسلحة والمدرعات الغربية إلى المقاتلين اليمنيين، رغم مخالفة ذلك لاتفاقيات بيع الأسلحة الثنائية، فضلاً عن قوانين محلية ومعاهدات اقليمية ودولية، كلها شملت بنوداً واضحة لالتزام "المستخدم الأخير" الذي يمنع نقل السلاح لأي طرف ثالث دون موافقة مكتوبة من دولة التصدير.
                        </p>
                    <ul class="actions">
                        <li><a href="{% url 'documentary_detail' documentary_id %}" class="button">اقرأ المزيد</a></li>
                    </ul>
                </div>
                <a href="#four" class="goto-next scrolly">Next</a>
            </section>

            <section id="five" class="wrapper style2 special fade" style="background-color:#1c1d26">
                <div class="container">
                    <header>
                        <h2البحث</h2>
                    </header>
                    <form method="post" action="{% url 'search_view' %}" class="cta" dir="rtl">
                        {% csrf_token %}
                        <div class="row gtr-uniform gtr-50">
                            <div class="col-8 col-12-xsmall"><input type="text" name="search" id="email" placeholder="البحث.." /></div>
                            <div class="col-4 col-12-xsmall"><input type="submit" value="بحث" class="fit primary" /></div>
                        </div>
                    </form>
                </div>
            </section>

			<!-- Four -->
            {% comment %}<section id="four" class="wrapper style1 special fade-up">
                <div class="container">
                    <header class="major">
                        <h2>الوسوم الأكثر قراءة</h2>
                        <!-- <p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p> -->
                    </header>
                    <div class="box alt">
                        <div class="row gtr-uniform" dir="rtl">
                            {% for tag in tags %}
                            <section class="col-2 col-4-medium col-6-xsmall">
                                <!-- <span class="icon solid alt major fa-chart-area"></span> -->
                                <h3><a href="{% url 'tag_detail' tag.id %}">{{tag.tag}}</a></h3>
                                <!-- <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p> -->
                            </section>
                            {% endfor %}
                        </div>
                    </div>
                    {% endcomment %}
                    <footer class="major"  dir="rtl">
                         <header class="major">
                            <h2> البحث الزمني</h2>
                        </header>

                        <form method="post" action="{% url 'archive_view' %}">
                            {% csrf_token %}
                            
       
                        <select id="archives-dropdown-3 col-12" name="archive-dropdown" onchange="this.form.submit()">	
                            <option value=""> 
                            &nbsp;&nbsp; البحث الزمني
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;</option>

                    <!-- <option value="https://khaledfahmy.org/ar/2022/09/"> سبتمبر 2022 </option> -->
                    {% for date in dates%}
                    <option value="{{date}}"  dir="rtl"> {{date}}</option>
                    {% endfor %}
                    
                    <!-- <option value="#"> يونيو 2022 </option>
                    <option value="#"> أبريل 2022 </option>
                    <option value="#"> مارس 2022 </option>
                    <option value="#"> فبراير 2022 </option>
                    <option value="#"> أكتوبر 2021 </option>
                    <option value="#"> يوليو 2021 </option>
                    <option value="#"> يونيو 2021 </option>
                    <option value="#"> مايو 2021 </option>
                    <option value="#"> أبريل 2021 </option>
                    <option value="#"> فبراير 2021 </option>
                    <option value="#"> يناير 2021 </option>
                    <option value="#"> أكتوبر 2020 </option>
                    <option value="#"> يوليو 2020 </option>
                    <option value="#"> يونيو 2020 </option>
                    <option value="#"> فبراير 2020 </option>
                    <option value="#"> ديسمبر 2019 </option>
                    <option value="#"> نوفمبر 2019 </option>
                    <option value="#"> يوليو 2019 </option>
                    <option value="#"> أبريل 2019 </option>
                    <option value="#"> مارس 2019 </option>
                    <option value="#"> ديسمبر 2018 </option>
                    <option value="#"> نوفمبر 2018 </option>
                    <option value="#"> أكتوبر 2018 </option>
                    <option value="#"> سبتمبر 2018 </option>
                    <option value="#"> يونيو 2018 </option>
                    <option value="#"> أبريل 2018 </option>
                    <option value="#"> يناير 2018 </option>
                    <option value="#"> ديسمبر 2017 </option>
                    <option value="#"> أكتوبر 2017 </option>
                    <option value="#"> سبتمبر 2017 </option>
                    <option value="#"> يوليو 2017 </option>
                    <option value="#"> يونيو 2017 </option>
                    <option value="#"> مايو 2017 </option>
                    <option value="#"> أبريل 2017 </option>
                    <option value="#"> فبراير 2017 </option>
                    <option value="#"> يناير 2017 </option>
                    <option value="#"> ديسمبر 2016 </option>
                    <option value="#"> نوفمبر 2016 </option>
                    <option value="#"> أكتوبر 2016 </option>
                    <option value="#"> سبتمبر 2016 </option>
                    <option value="#"> أغسطس 2016 </option>
                    <option value="#"> يوليو 2016 </option>
                    <option value="#"> يونيو 2016 </option>
                    <option value="#"> مايو 2016 </option>
                    <option value="#"> أبريل 2016 </option>
                    <option value="#"> مارس 2016 </option>
                    <option value="#"> فبراير 2016 </option>
                    <option value="#"> يناير 2016 </option>
                    <option value="#"> ديسمبر 2015 </option>
                    <option value="#"> نوفمبر 2015 </option>
                    <option value="#"> أكتوبر 2015 </option>
                    <option value="#"> سبتمبر 2015 </option>
                    <option value="#"> أغسطس 2015 </option>
                    <option value="#"> يوليو 2015 </option>
                    <option value="#"> يونيو 2015 </option>
                    <option value="#"> مايو 2015 </option>
                    <option value="#"> أبريل 2015 </option>
                    <option value="#"> مارس 2015 </option>
                    <option value="#"> فبراير 2015 </option>
                    <option value="#"> يناير 2015 </option>
                    <option value="#"> ديسمبر 2014 </option>
                    <option value="#"> نوفمبر 2014 </option>
                    <option value="#"> سبتمبر 2014 </option>
                    <option value="#"> أغسطس 2014 </option>
                    <option value="#"> يوليو 2014 </option>
                    <option value="#"> يونيو 2014 </option>
                    <option value="#"> مايو 2014 </option>
                    <option value="#"> أبريل 2014 </option>
                    <option value="#"> مارس 2014 </option>
                    <option value="#"> فبراير 2014 </option>
                    <option value="#"> يناير 2014 </option>
                    <option value="#"> ديسمبر 2013 </option>
                    <option value="#"> سبتمبر 2013 </option>
                    <option value="#"> أغسطس 2013 </option>
                    <option value="#"> يوليو 2013 </option>
                    <option value="#"> يونيو 2013 </option>
                    <option value="#"> مايو 2013 </option>
                    <option value="#"> أبريل 2013 </option>
                    <option value="#"> مارس 2013 </option>
                    <option value="#"> فبراير 2013 </option>
                    <option value="#"> يناير 2013 </option>
                    <option value="#"> ديسمبر 2012 </option>
                    <option value="#"> نوفمبر 2012 </option>
                    <option value="#"> أكتوبر 2012 </option>
                    <option value="#"> سبتمبر 2012 </option>
                    <option value="#"> أغسطس 2012 </option>
                    <option value="#"> يوليو 2012 </option>
                    <option value="#"> يونيو 2012 </option>
                    <option value="#"> مايو 2012 </option>
                    <option value="#"> أبريل 2012 </option>
                    <option value="#"> مارس 2012 </option>
                    <option value="#"> فبراير 2012 </option>
                    <option value="#"> يناير 2012 </option>
                    <option value="#"> ديسمبر 2011 </option>
                    <option value="#"> نوفمبر 2011 </option>
                    <option value="#"> أكتوبر 2011 </option>
                    <option value="#"> سبتمبر 2011 </option>
                    <option value="#"> أغسطس 2011 </option>
                    <option value="#"> يوليو 2011 </option>
                    <option value="#"> يونيو 2011 </option>
                    <option value="#"> مايو 2011 </option>
                    <option value="#"> مارس 2011 </option>
                    <option value="#"> يناير 2011 </option>
                    <option value="#"> ديسمبر 2010 </option>
                    <option value="#"> نوفمبر 2010 </option>
                    <option value="#"> أكتوبر 2010 </option>
                    <option value="#"> يونيو 2010 </option>
                    <option value="#"> مايو 2010 </option>
                    <option value="#"> أبريل 2010 </option>
                    <option value="#"> يوليو 2008 </option>
                    <option value="#"> يونيو 2008 </option>
                    <option value="#"> مايو 2008 </option>
                    <option value="#"> أبريل 2008 </option>
                    <option value="#"> أكتوبر 2007 </option>
                    <option value="#"> مايو 2007 </option>
                    <option value="#"> أغسطس 2006 </option>
                    <option value="#"> يوليو 2006 </option>
                    <option value="#"> يناير 2006 </option> -->
                
                        </select>
                    </form>
                        <!-- <ul class="actions special">
                            <li><a href="#footer" class="button">Magna sed feugiat</a></li>
                        </ul> -->
                    </footer>
                </div>
            </section>
            
{% endblock %}
