{% extends 'base.html' %}
{% block content %}
			<!-- Main -->
				<div id="main" class="wrapper style1" dir="rtl" lang="ar">
					<div class="container">
						<header class="major">
							<h2>تدوينات</h2>
						</header>

						{% for blog in object_list %}
							<section>
								<h3><a href="{% url 'blog_detail' blog.id %}">{{blog.title}}</a></h3>
									{% if blog.image %}
										<div class="box alt">
											<div class="row gtr-50 gtr-uniform">
												<div class="col-6 col-12-xsmall"><span class="image fit"><img src="{{ blog.image.url }}" alt="" /></span></div>
											</div>
										</div>
									{% endif %}
								<p>{{blog.snippet}}..<a href="{% url 'blog_detail' blog.id %}"> اقرأ المزيد</a></p>
								<hr />
							</section>
						{% endfor %}
					</div>
				</div>
{% endblock %}
