{% extends 'base.html' %}
{% load static %}
{% block content %}

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<!-- <header>
							<h2>The future has landed</h2>
							<p>And there are no hoverboards or flying cars.<br />
							Just apps. Lots of mother flipping apps.</p>
						</header>
						<span class="image"><img src="images/pic01.jpg" alt="" /></span> -->
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom" dir="rtl">
					<span class="image fit main"><img src="{{pictures.image_section_one.url}}" alt="" /></span>
					<div class="content">
						<div class="container" style="color:white">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2 >محمد أبو الغيط (1988 - 2022)</h2>
										<p>هو صحافي استقصائي وكاتب مصري، مارس الطب فترة قصيرة إبان فترة ثورات الربيع العربي قبل أن ينتقل للعمل الصحفي.</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>عمل محمد أبو الغيط بعدة صحف مستقلة وبرامج تلفزيونية وهيئات دولية مرموقة مثل الشروق و المصري اليوم، وأنتقل بعدها للعمل كباحث ومعد تليفزيوني في إنتاج بعض الوثائقيات لقناة الحرة وشبكة الجزيرة وغيرها من المحطات قبل انتقاله للعمل في تلفزيون العربي في لندن.</p>
									<span>اشترك محمد في الحملة الرئاسية لابوالفتوح في ٢٠١٢</span>
									<span>كما قام بتأسيس صفحة الموقف المصري وصفحة متصدقش مع اخرين</span>
								</div>

								<div class="col-4 col-12-medium">
									<p>حصل على العديد من الترشيحات وجوائز الصحفية العالمية، حيث رُشح لجائزتين من جوائز إيمي للصحافة التلفزيونية العالمية عام 2020، وجائزة فيتيسوف للصحافة عام 2020، وجائزة هيكل للصحافة العربية عام 2021 وجائزة سمير قصير لحرية الصحافة التي يمنحها الاتحاد الأوروبي عام 2014 والميدالية الذهبية بجوائز رابطة مراسلي الأمم المتحدة (جائزة ريكاردو اورتيجا) عن فيلم "المستخدم الأخير" حول الأسلحة في اليمن 2019.</p>
								</div>

							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style3 left" dir="rtl" style="color:white">
					<span class="image fit main"><img src="{{pictures.image_section_two.url}}" alt="" /></span>
					<div class="content">
						<header>
							<h2>النشأة والتعليم</h2>
							<p>ولد محمد أبو الغيط في أسيوط حيث نشأ وتلقى تعليمه قبل انتقاله للقاهرة</p>
						</header>
						<p> ساهم بتحقيقات استقصائية جماعية عدة، أبرزها التحقيق مع مؤسسة مكافحة الجريمة المنظمة والفساد مع 163 صحافيا حول العالم لجمع وتعريب وتحرير ونشر "التسريبات السويسرية" التي كشفت تفاصيل الحسابات الخارجية لشخصيات بارزة بينهم رؤساء وملوك حول العالم.

							انتقل بعدها للعمل كباحث ومعد تليفزيوني في إنتاج بعض الوثائقيات لقناة الحرة وشبكة الجزيرة وغيرها من المحطات قبل انتقاله للعمل في تلفزيون العربي في لندن.
							
							</p>
						<!-- <ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul> -->
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style2 right" dir="rtl" style="color:white">
					<span class="image fit main bottom"><img src="{{pictures.image_section_three.url}}" alt="" /></span>
					<div class="content">
						<header>
							<h2>العمل الصحفي</h2>
							<p>بدأ محمد أبو الغيط الكتابة مبكرا جدا عبر منتديات دكتور أحمد خالد توفيق ثم مدونته الشخصية "جدارية" قبل أن يسلك الصحافة كمهنة في كبرى الصحف المصرية مثل الشروق و المصري اليوم.</p>
						</header>
						<p>ساهم بتحقيقات استقصائية جماعية عدة، أبرزها التحقيق مع مؤسسة مكافحة الجريمة المنظمة والفساد مع 163 صحافيا حول العالم لجمع وتعريب وتحرير ونشر "التسريبات السويسرية" التي كشفت تفاصيل الحسابات الخارجية لشخصيات بارزة بينهم رؤساء وملوك حول العالم.

							انتقل بعدها للعمل كباحث ومعد تليفزيوني في إنتاج بعض الوثائقيات لقناة الحرة وشبكة الجزيرة وغيرها من المحطات قبل انتقاله للعمل في تلفزيون العربي في لندن.</p>						<!-- <ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul> -->
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up" style="color:white;background-color:#1c1d26">
					<div class="container">
						<header class="major">
							<h2>الجوائز</h2>
							<!-- <p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p> -->
						</header>
						<div class="box alt">
							<div class="row">
								{% for prize in prizes %}
								<div class="col-4 col-6-medium col-12-xsmall">
									<span class="image fit" style="height:100px;width:100px;display:block;
									margin-left: auto;
									margin-right: auto;
									"><img src="{{prize.image.url}}"/></span>
									<h3>{{ prize.title }}</h3>
									<p>{{ prize.snippet }}</p>
								</div>
								{% endfor %}
								<!-- <section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-comment"></span>
									<h3>Eleifend lorem ornare</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section> -->
								<!-- <section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
									<h3>Cubilia cep lobortis</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-paper-plane"></span>
									<h3>Non semper interdum</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-file"></span>
									<h3>Odio laoreet accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-lock"></span>
									<h3>Massa arcu accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section> -->
							</div>
						</div>
						<!-- <footer class="major">
							<ul class="actions special">
								<li><a href="#" class="button">Magna sed feugiat</a></li>
							</ul>
						</footer> -->
					</div>
				</section>

			<!-- Five -->
				<!-- <section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Magna faucibus lorem diam</h2>
							<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
						</header>
						<form method="post" action="#" class="cta">
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
							</div>
						</form>
					</div>
				</section> -->


			<!-- Two -->
			<section id="four" class="spotlight style2 right" dir="rtl" style="color:white">
				<span class="image fit main"><img src="{{pictures.image_section_four.url}}"alt="" /></span>
				<div class="content">
					<header>
						<h2>انا قادم ايها الضور</h2>
						<p>وجدتني لا أكتب يوميات مريض ؛ بل أكتب أحداثاً ومشاعر، ما جربته وما تعلمته، سيرة ذاتية لي ولجيلي أيضًا.

							ودونما أشعر عبرت كتابي من الخاص إلي العام، وهكذا تنقلت بين شرح علمي إلي أخبار التطورات السياسية، ومن تفنيد خرافات حول ما يسمي بــ "الطب البديل" إلي متابعة وفاة المالكة إليزابيث، أتأمل في الموت والحياة.
							</p>
					</header>
					<p> لو تحققت نجاتي بمعجزة ما، فأسعى نحو ذلك الضوء الذي ذاد خبرتي به وتقديري له في أيام مرضي وسأمنح ما أستطيع عرفانًا لكوني محظوظا بزوجة مضيئة، وبـ أبٍ وأمٍّ مضيئْين وبالكثير من الأصدقاء الذين يطمئنني نورهم لحقيقة الخير في الدنيا .

						ولو وافاني القدر بالوقت الذي قدره الأطباء، أرجو أن يكون ما بعد نفقي نوراً وهدوءاً وأن يمر عبر هذا الكتاب بعض الضوء إلي من يقرأ 
						</p>
					<!-- <ul class="actions">
						<li><a href="#" class="button">Learn More</a></li>
					</ul> -->
				</div>
				<a href="#five" class="goto-next scrolly">Next</a>
			</section>
	
			<section id="five" class="spotlight style3 left" dir="rtl" style="color:white">
				<span class="image fit main"><img src="{{pictures.image_section_five.url}}"alt="" /></span>
				<div class="content">
					<header>
						<h2>وفاته</h2>
						<p>في عام 2021 تم تشخيصه بـسرطان المعدة وقام بإجراء عدة جراحات، وفي الشهور الأخيرة تدهورت حالته الصحية بشكل كبير وتوفي في 5 ديسمبر 2022 داخل احدى مستشفيات لندن، وشيعت جنازته وتم دفته في لندن</p>
					</header>
					<p> نعاه العديد من الشخصيات المعروفة مثل: حمدين صباحي وعماد الدين حسين وأخرون.
						</p>
					<!-- <ul class="actions">
						<li><a href="#" class="button">Learn More</a></li>
					</ul> -->
				</div>
				<a href="#three" class="goto-next scrolly">Next</a>
			</section>

		</div>

{% endblock %}
