{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="https://bucketdraft2.s3.amazonaws.com/static/images/c65d8cb7-826b-4b5c-b956-ca1795433655.jpeg" sizes="16x16" type="image/png">
		<link rel="icon" href="https://bucketdraft2.s3.amazonaws.com/static/images/c65d8cb7-826b-4b5c-b956-ca1795433655.jpeg" sizes="32x32" type="image/png">
		<link rel="icon" href="https://bucketdraft2.s3.amazonaws.com/static/images/c65d8cb7-826b-4b5c-b956-ca1795433655.jpeg" sizes="192x192" type="image/png">
		<meta property='og:title' content='mohamed aboelgheit'/>
		<meta property='og:image' content='https://bucketdraft2.s3.amazonaws.com/static/images/c65d8cb7-826b-4b5c-b956-ca1795433655.jpeg'/>
		<meta property='og:image:width' content='1200' />
		<meta property='og:image:height' content='627' />
		<!-- TYPE BELOW IS PROBABLY: 'website' or 'article' or look on https://ogp.me/#types -->
		<meta property="og:type" content='website'/>



		<title>Mohamed Abo elgheit</title>
		<link rel="icon" type="image/x-icon" href="https://images.emojiterra.com/openmoji/v13.1/512px/24c2.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main_2.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Gulzar&display=swap');
			.special_text{
				font-family: 'Gulzar', serif !important;
				font-size: large;
				font-weight: bold;
			}
		  </style>
		
	</head>
	<body class="is-preload landing">
		<style>
			body{
				background-color: white;
			}
		</style>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header"  dir="rtl" lang="ar" class="special_text">
					<h1 id="logo"><a href="{% url 'home' %}" class="special_text">الرئيسية</a></h1>
					<nav id="nav">
						<ul>
							<!-- <li dir="rtl" lang="ar"> -->
								<!-- <a href="#" class="special_text">مقالات وتغطيات</a> -->
								<!-- <ul> -->
									<li dir="rtl" lang="ar"><a href="{% url 'article_list' %}" class="special_text">مقالات</a></li>
									<!-- <li dir="rtl" lang="ar"><a href="{% url 'coverage_list' %}" class="special_text">تغطيات</a></li> -->
								<!-- </ul> -->
							<!-- </li> -->
							<li>
								<a href="#" class="special_text">تحقيقات</a>
								<ul>
									<li><a href="{% url 'investigation_list' %}" class="special_text">مكتوبة</a></li>
									<li><a href="{% url 'investigation_video_list' %}" class="special_text">فيديو</a></li>
								</ul>
							</li>
							<li><a href="{% url 'blog_list' %}" class="special_text">تدوينات حرة</a></li>
							<li><a href="{% url 'podcast_list' %}" class="special_text">بودكاست 11</a></li>
							<li><a href="{% url 'documentary_list' %}" class="special_text">أفلام وثائقية</a></li>
							<!-- <li><a href="#">مقابلات</a></li> -->
							<li><a href="{% url 'about_me' %}" class="special_text">من أنا</a></li>
							{% comment %}<li>
								<div class="search-container" style="display: block;">
									<form action="{% url 'search_view' %}"  method="POST">
										{% csrf_token %}
									  <input type="text" placeholder="Search.." name="search" style="display: block;">
									  <button type="submit" style="display: block;"><i class="fa fa-search" style="display: block;"></i></button>
									</form>
							</li>{% endcomment %}
						</ul>
					</nav>
				</header>
			{% block content %}
			{% endblock %}

			<!-- Footer -->
				<footer id="footer">
					<header class="major">
						<h3 style="color: white;">حسابات محمد الشخصية على شبكات التواصل</h3>
						</header>
						
					
					<ul class="icons">
						<li><a href="https://twitter.com/mohaboelgheit" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/mohamed.aboelgheit" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<!-- <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li> -->
						<!-- <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li> -->
						<!-- <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li> -->
					</ul> 
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main_2.js' %}"></script>

	</body>
</html>
