{% extends 'base.html' %}
{% block content %}
<!-- Main -->
    <div id="main" class="wrapper style1" dir="rtl" lang="ar">
        <div class="container">
            <header class="major">
                <h3>{{object.title}}</h3>
            </header>

                <section>
                    <iframe width="100%" height="400" src="{{object.source_link}}" title="الفلم الوثائفي &quot;المستخدم الأخير&quot; | السلطة5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    {{object.content|safe}}
                    <hr />
                </section>
                {% comment %}{% include 'tag.html' %} {% endcomment %}
        </div>
    </div>
{% endblock %}
